# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
BehaviouralDesignPattern/.idea/
BehaviouralDesignPattern/BehaviouralDesignPattern.iml
BehaviouralDesignPattern/out/